.container {
  height: 328px;
  width: 99%;
  border: 1px solid #999999;
  margin-top: 30px;
}

.header {
  height: 70px;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-family: roboto;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-left: 30px;
}

.icons {
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
  width: 75px;
  cursor: pointer;
}

.content {
  padding: 30px;
  height: 198px;
}

.contentHeader {
  display: flex;
  justify-content: space-between;
}

.subtitle {
  font-size: 18px;
  font-family: roboto;
  color: #777777;
}

.contentText {
  margin-top: 10px;
}

.textDecoration {
  font-family: roboto;
  font-size: 18px;
  font-weight: 400;
}

.modalContent {
  padding: 20px;
}

.modalButtons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
