.container {
  padding: 15px;
}

.buttonDisabled {
  width: 111px;
  background-color: gray;
  color: white;
  border: 1px solid gray;
  height: 33px;
  cursor: pointer;
  outline: none;
}

.buttonDisabled:hover {
  cursor: not-allowed;
}

.button:hover {
  opacity: 0.8;
}

.button {
  width: 111px;
  background-color: black;
  color: white;
  border: 1px solid black;
  height: 33px;
  cursor: pointer;
  outline: none;
}

.footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 15px;
}

.title {
  font-family: roboto;
  font-size: 22px;
  font-weight: 700;
}

.form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.label {
  font-family: roboto;
  font-size: 16px;
}

.fieldBody {
  margin-top: 15px;
  height: 28px;
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
}

.field {
  border: none;
  border-radius: 4px;
  outline: none;
  width: 100%;
}
