.container {
  width: 100%;
}

.header {
  width: 100%;
}

.title {
  font-size: 22px;
  font-family: roboto;
  font-weight: 600;
}

.form {
  margin-top: 20px;
}

.fieldBody {
  margin-top: 8px;
  padding: 5px;
  width: 98%;
  border: 1px solid #cdc7c2;
  border-radius: 4px;
}

.field {
  width: 97%;
  height: 28px;
  border: none;
  border-radius: 4px;
  outline: none;
}

.textArea {
  width: 99%;
  height: 74px;
  border: none;
  outline: none;
}

.textAreaBody {
  width: 98%;
  height: auto;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 35px;
}

.buttonDisabled {
  width: 111px;
  background-color: gray;
  color: white;
  border: 1px solid gray;
  height: 33px;
  cursor: pointer;
  outline: none;
}

.buttonDisabled:hover {
  cursor: not-allowed;
}

.button:hover {
  opacity: 0.8;
}

.button {
  width: 111px;
  background-color: black;
  color: white;
  border: 1px solid black;
  height: 33px;
  cursor: pointer;
  outline: none;
}
