.container {
  width: 100%;
  background-color: #dddddd;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}

.body {
  width: 800px;
  min-height: 100vh;
  background-color: #fff;
}

.header {
  width: 100%;
  height: 80px;
  background-color: black;
  display: flex;
  align-items: center;
}

.headerTitle {
  color: #fff;
  font-family: roboto;
  font-size: 22px;
  font-weight: 600;
  margin-left: 30px;
}

.formContainer {
  width: 90%;
  padding: 40px;
}

.form {
  height: 349px;
  width: 91%;
  padding: 30px;
  border: 1px solid #999999;
}

.posts {
  margin-top: 30px;
  height: 400px;
  overflow: auto;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
